div {
  text-transform: uppercase; 
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}
body,html{
  min-height:100%;
  font-family: 'Roboto Mono',  monospace;
  font-size:15px;
  display:flex;
  align-items:center;
  justify-content:center
}
body{
  background:url(https://wallpaperaccess.com/full/8084263.jpg) center no-repeat;
  background-size:cover;
  cursor: crosshair; 
}
body:before{
  content:""; width:100%; height:100%;     
  background:rgba(0,0,0,0.3);
  position:absolute;
  top:0;
  left:0;
  z-index:10
}
h1,h2{
  font-weight:400;
  letter-spacing:1px
}
.card,.card2,.card3,.card4,.card5,.card6{
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100px;
  min-width: 300px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  overflow:hidden;
  z-index: 999;
}
.card {
  left: -25px;
}
.card2 {
  left: 0px;
}
.card3 {
  left: 25px;
}
.card4 {
  left: -25px;
}
.card5 {
  left: 0px;
}
.card6 {
  left: 25px;
}
.header {
  position: relative;
  z-index:1;
  width: 100%;
  height: 180px;
  box-shadow:0 4px 3px #0002;
  overflow: hidden;
}
.card,.card2,.card3,.card4,.card5,.card6 img{
  width:100%;
  transition: all 1s ease;
  z-index:0
}
.image {
  width: 100%;
  height: 180px;
  cursor:crosshair;
  overflow:hidden;
}
.image:hover img{
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.header h2{
  position:absolute;
  bottom:0;
  margin:0;
  width:100%;
  padding:0 10px;
  color:#fff;
  text-transform:uppercase;
  pointer-events:none;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.icon {
  position: absolute;
  background:#fff;
  right: 10px;
  top: 135px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow:hidden;
  border:3px solid #fff;
  box-shadow:0 4px 3px #0002;
  z-index:9;
  opacity: 0;
  animation: ani 2.5s forwards;
}
#rest,#rest2,#rest3,#rest4,#rest5,#rest6{
  padding:30px 15px;
  line-height:30px;
  color:#000d42;
  height:60px;
  opacity: 0;
  animation: ani 2.5s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.next{ 
  position: relative; 
  left: 50px; 
  color: white; 
  padding: 7px 20px; 
  border-radius: 3px; 
  font-size: 25px; 
  cursor: crosshair; 
  z-index: 1000; 
  text-decoration: inherit;
} 
.next:hover{ 
  background: rgb(220 53 69 / 50%); 
}
.back{ 
  position: relative; 
  left: -50px; 
  color: white; 
  padding: 7px 20px; 
  border-radius: 3px; 
  font-size: 25px; 
  cursor: crosshair; 
  z-index: 1000; 
  text-decoration: inherit;
} 
.back:hover{ 
  background: rgb(220 53 69 / 50%); 
}
